.block {
    background-color: rgba(204, 204, 204, 0.85);
    border: 1px solid rgba(204, 204, 204, 1);
    color: #165e65;
    min-height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.block .mw-576 {
    display: none;
}

.v-positioning .col {
    min-height: 101px;
    background-color: rgba(32, 125, 116, 0.76);
    margin-bottom: 15px;
}

nav.navbar {
    margin-bottom: 60px;
}

.navbar-light .navbar-brand {

    height: 50px;
    width: 50px;
    background-color: rgba(47, 111, 111, 0.65);
    border-radius: 5px;
    font-size: 15px;
    padding: 0;
    color: #fff;
    text-align: center;
    line-height: 43px;
}


@media (max-width: 765px) {

    .full-layout .block span {
        font-size: 8px;
    }
}

@media (max-width: 576px) {

    .block .mw-576 {
        display: inline-block;
    }
    .block span {
        font-size: 10px;
        display: inline-block;
    }
    .full-layout .block span {
        font-size: 14px;
    }
    .block span.mw-576 {
        font-size: 14px;
    }
}